.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    .container {
        margin-top: -100px; /* Змініть значення за вашими потребами */
    }

    .btn-edit {
        background-color: black;
        color: white;
        margin-right: 10px; /* Додайте правий відступ між кнопками */
        margin-bottom: 10px; /* Додайте відступ між рядками */
        width: 110px;
        height: 50px; /* Задайте ширину кнопки */
        font-size: 12px;
        
    }
    .btn-edit:first-child {
        margin-right: 20px; /* Збільште відступ між першою кнопкою та краєм контейнера */
    }
    .btn-edit:hover {
        background-color: #333; /* Новий колір при наведенні */
        color: white; /* Новий колір тексту при наведенні */
    }
    .btn-edit-new {
        background-color: #cc0000;
        color: white;
        margin-right: 10px; /* Додайте правий відступ між кнопками */
        margin-bottom: 10px; /* Додайте відступ між рядками */
        width: 110px;
        height: 50px; /* Задайте ширину кнопки */
        font-size: 12px;
        
    }
    .mall-container {
        display: flex; /* Вмикаємо Flexbox */
        flex-direction: column; /* Розміщуємо елементи по вертикалі */
        align-items: center; /* Центруємо елементи по горизонталі */
        width: 100%; /* Займаємо всю доступну ширину */
        margin-bottom: 20px; /* Додаємо відступ знизу */
      }
      
      .mall { /* Стилізуємо самі блоки з ТЦ */
        background-color: #fff; /* Колір фону */
        padding: 20px; /* Внутрішні відступи */
        border-radius: 8px; /* Закруглені кути */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь */
        text-align: center; /* Вирівнювання тексту */
      } 

      .mb-1-1 { /* Збільшуємо відступ знизу сторінки */
        margin-bottom: 70px; /* Або інше значення, що вам підходить */
      }
      
      .favorites-label { /* Стилізуємо підпис */
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        margin-left: 90px; /* Відступ між підписом і ТЦ */
      }
        